@use "global" as *;

.c-headline {
  border-left: 5px solid black;
  font-size: prem(24);
  font-weight: $bold;
  color: black;
  padding-left: prem(20);
  @include mq("md") {
    font-size: prem(18);
    padding-left: prem(10);
  }
}