@use "global" as *;

.c-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #333;
}

.c-table__data,
.c-table__head {
  width: 50%;
  padding: prem(10);
  border: 1px solid #333;
}

.c-table__head {
  font-size: prem(16);
  background-color: #eee;
}

.c-table__data {
  font-size: prem(24);
}