@use "global" as *;

.c-underBar {
  position: relative;
  display: inline-block;

  &::before {
    background-color: #333;
    bottom: 0;
    content: '';
    height: 1px;
    left: 50%;
    opacity: 1;
    position: absolute;
    transform: translateX(-50%);
    transition: .5s;
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .c-underBar:hover:before {
    opacity: 0;
    transition: 0.5s all;
  }
}